@import "tailwindcss";

/* Chrome, Safari, Opera */
.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

/* IE, Edge */
.scrollbar-hide {
  -ms-overflow-style: none;
  /* Firefox */
  scrollbar-width: none;
}
